<!DOCTYPE html>
<html>
<head>
    <title>Add Trip</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body>
    <div class="container"> 
    <h1>Add a Trip</h1>
    <form method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>
        <label>Date:</label><br>
        <input type="date" name="date" required><br><br>
        <label>Location:</label><br>
        <input type="text" name="location"><br><br>
        <label>Distance (km):</label><br>
        <input type="number" step="0.1" name="distance_km"><br><br>
        <label>Elevation Gain (m):</label><br>
        <input type="number" name="elevation_gain_m"><br><br>
        <label>Weather:</label><br>
        <input type="text" name="weather"><br><br>
        <label>Notes:</label><br>
        <textarea name="notes"></textarea><br><br>
        <button type="submit">Save Trip</button>
    </form>
    <br>
    <h1>Gear Section</h1>
    <h4>If you'd like to track gear you wore and make notes, here is where you'd do it</h4>
    <form method="POST">
        <label>Item</label><br>
        <input type="text" name="Item"><br><br>
        <label>Category</label><br>
        <input type="text" name="Category"><br><br>
        <label>Weight in Grams</label><br>
        <input type="number" name="Weight"><br><br>
        <label>What worked and what didn't:</label><br>
        <textarea name="gear_notes"></textarea><br><br>
        <button type="submit">Save Gear</button>
    </form>

    <a href="{{ url_for('main.index') }}">Back to Trips</a>
    </div>
</body>
</html>